html {

    background-color: rgb(165, 128, 239);

}

@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
  }

.apply-shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes grow {

    25% {transform: scale(2);}
    50% {transform: scale(3);}
    75% {transform: scale(4);}
    100% {transform: scale(5);}

}

@keyframes shrink_image {

    0% {

        transform: scale(1);
        opacity: 100;

    }

    100% {

        transform: scale(0);
        opacity: 0%;

    }



}

.apply-grow {

    animation: grow 2s linear;

}

.apply_grow_image {

    animation: shrink_image 2s reverse;

}

.apply_shrink_image {

    animation: shrink_image 2s linear;

}



/*Base size -> mobile devices */

section.sect_button {

    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    align-items: center;
    margin-top: 300px;

    h1 {

        font-size: 40px;

    }

    div {

        justify-content: center;
        margin: 0 auto;
        width: 100px;
        height: 50px;
        background-color: rgb(89, 0, 255);
        margin-top: 20px;
        padding-top: 30px;
        border-radius: 15px;
        color: rgb(190, 208, 250);

    }

    p {

        color: black;
        visibility: hidden;

    }

}

section.gif_section {

    position: relative;
    z-index: 2;
    visibility: hidden;
    display: none;
    margin: 0 auto;
    align-items: center;
    width: 80%;
    height: 500px;
    margin-top: 50px;
    text-align: center;

    h1 {

        margin-bottom: 200px;
        color: white;

    }
    img {

        width: 200px;
        scale: 2;
        margin: 0 auto;
        display: none;
        visibility: hidden;

    }

    audio {

        display: flex;
        position: absolute;
        top: 120%;
        left: 5%;

    }

}

div#star1 {

    position: absolute;
    display: flex;
    top: 0px;
    left: 1%;
    z-index: 1;
    opacity: 70%;

}

div#star2 {


    position: absolute;
    display: flex;
    top: 3%;
    left: 0%;
    z-index: -2;
    opacity: 30%;

}